.App {
  text-align: center;
}
.App-header {
  background-color: white;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: #282c34;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#Base_Map {
  min-height: 70vh;
  padding : 15vh;
}

.base {
  fill: #f3be99;
  fill-rule: evenodd;
  stroke: #7e7f80;
  stroke-miterlimit: 10;
  stroke-width: .51px;
  animation-name: transition;
  animation-duration: 2s;
  animation-fill-mode: forwards;
}
.response {
    fill: #a0dde3;
}

.covert {
    fill: #a29ed1;
}

.overt {
  fill: #b8b8f0;
}

.policy {
  fill: #ef93bf;
}
