.App {
  margin: auto;
}
.App-header {

  font-size: calc(10px + 2vmin);
  color: #282c34;
  position: relative;
  z-index: 1;
  text-align: center;
  height: 100vh;
}

.container {
  width: 70vw;
  display: flex;
  flex-direction: column;
  height: 80vh;
  justify-content: center;
  margin: auto;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
  background-color:#ffe7d6;
}

.MapContainer {
  margin: auto;
  max-width: 90vw;
  height: 100vh;
  align-items: center;
}

.mapText {
  background-color: #f3be99;
  position: relative;
  z-index: 2;
  text-align: center;
}

p {
  font-size: calc(10px + 1vmin);
  padding: 25px;
}

#barchart {
  flex-grow: 1;
}

#Phone {
  max-height: 500px;
  rotate: -10deg;
  padding: 200px;
}

#Wheelchair {
  position: sticky;
  position: -webkit-sticky;
  top: 0;
  rotate: 7deg;
  z-index: 0;
  height: 100vh;
}

#Figure {
animation-name: fadeOut;
animation-duration: 2s;
animation-delay: 1s;
animation-fill-mode: forwards;
}

#Chair {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 2s;
  animation-fill-mode: forwards;
  }

#Outline {
  animation-name: fadeOut;
  animation-duration: 2s;
  animation-delay: 3s;
  animation-fill-mode: forwards;
    }

@keyframes fadeOut {
  0% { opacity: 1; }
  100% { opacity: 0; }
}

#Base_Map {
  filter: drop-shadow(3px 5px 2px #be9578);

}

.base {
  fill: #f3be99;
  stroke: #7e7f80;
  stroke-miterlimit: 10;
  stroke-width: .51px;
  transition-property: fill, transform;
  transition-duration: 2s;
  animation-fill-mode: both;
  transition-timing-function: linear;
}
.response {
    fill: #a0dde3;
}

.covert {
    fill: #a29ed1;
}

.overt {
  fill: #b8b8f0;
}

.policy {
  fill: #ef93bf;
}
.faded {
  fill: #ffe7d6;
}

.focus {
  fill: #ff9549;
  transform: scale(1.2);
  transform-origin: center;
  z-index: 2;
}