.App {
  text-align: center;
  background-color:#ffe7d6;
}
.App-header {

  font-size: calc(10px + 2vmin);
  color: #282c34;
}

body {
  font-family: "Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  color: #333;
}

#Base_Map {
height: 70vh;
  padding : 15vh;
  width: 70vw;
}

svg {
  filter: drop-shadow(3px 5px 2px #be9578);
}

.base {
  fill: #f3be99;
  stroke: #7e7f80;
  stroke-miterlimit: 10;
  stroke-width: .51px;
  transition-property: fill, transform;
  transition-duration: 2s;
  transition-timing-function: linear;
}
.response {
    fill: #a0dde3;
}

.covert {
    fill: #a29ed1;
}

.overt {
  fill: #b8b8f0;
}

.policy {
  fill: #ef93bf;
}
.faded {
  fill: #ffe7d6;
}

.focus {
  fill: #ff9549;
  transform: scale(1.2);
  transform-origin: center;
}

.container {
  margin: auto;
  max-width: 70vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.mapText {
  background-color: #f3be99;
  position: relative;
  padding: calc(10px + 1vmin);
}

p {
  font-size: calc(10px + 1vmin);
  top: 50%;
  width: 100%;
}
